@media (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}

/* Text colors */
.text-dark-custom {
    color: #3a3a47 !important;
}
.text-grey-custom {
    color: #5c5c5c !important;
}
.text-light-grey-custom {
    color: #818198 !important;
}
.text-dark-blue-custom {
    color: #383861 !important;
}
.text-blue-custom {
    color: #3498db !important;
}
.text-green-custom {
    color: #21bf73 !important;
}

/* Background colors */ 
.bg-primary-custom {
    background-color: #F0F5F9 !important;
}

/* Forms and buttons styles */
.btn {
    padding: 0 20px;
    line-height: 38px;
}
.btn-blue-custom {
    border: 2px solid #3498db;
    color: #3498db;
}
.btn-blue-custom:hover {
    background-color: #3498db;
    color: #FFFFFF;
}
.btn-success-custom {
    border: 2px solid #21bf73;
    background-color: #21bf73;
    color: #FFFFFF;
}

/* Form control custom */
.form-control-custom {
    color: #222222;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    border: 0;
    border-radius: 5px 0 0 5px;
    background-color: #F0F5F8;
    outline: none;
    padding-left: 20px;
}

/* Font styles */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat';
}

/* Navigation menu style */
.navbar-brand {
    font-family: 'Montserrat';
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
}
.navbar-light .navbar-nav .nav-link.btn {
    padding: 0 20px;
}

/* Home style */
.home {
    background-color: #F0F5F9;
    padding: 150px 0 100px 0;
}
.home .text-dark-custom {
    font-weight: 700;
}
.home .text {
    padding: 50px;
}
.home .text p {
    font-size: 15px;
}
.home .btn-blue-custom, .home .btn-success-custom {
    padding: 0 40px;
}

/* About style */
.about .card {
    padding: 40px;
}
.about__img {
    width: 80px;
}
.about h2 {
    font-weight: 700;
}

/* Features style */
.features__container {
    background-color: #F0F5F9;
}

/* Results style */
.results__img {
    width: 80px;
}

/* Reviews style */
.reviews__container {
    background-color: #F0F5F9;
    padding: 100px 50px;
}

/* Pricing style */
.pricing_card {
    background-color: #F0F5F9;
}

/* FAQ */
.faq_container {
    background-color: #F0F5F9;
}
@media only screen and (max-width: 446.9px) {
    /* Home style */
    .home .text p {
        font-size: 13px;
    }
    .home .text .btn {
        margin-top: 20px;
    }

    /* About style */
    .about .card {
        padding: 20px;
    }

    /* Start trial style */
    .start-trial .input-group{
        flex-direction: column;
    }
    .input-group .form-control {
        width: 100%;
    }
    .input-group .btn {
        margin-top: 20px;
    }
}